.banner {
	background-color: #e9f6ff;
}

.banner__left {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-left: 20rem;
	padding: 0;
}

.banner__left > div > button {
	font-weight: 500;
	font-size: 14px;
	background-color: #0a46e4;
	color: white;
	padding: 12px 16px;
}

.banner__left > p {
	margin: 0;
}

.banner__content {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.banner__right {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	padding: 0;
}
