.home__page {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 24px 56px;
	margin: 0 360px 100px 50px;
}

.banner__left {
	padding: 100px 0 111px;
}

.banner__left > form > div > button {
	background-color: #0a46e4;
	color: white;
}

.banner__left > div > h1 {
	font-weight: 700;
	font-size: 4rem;
	margin: 8px 0 16px;
}

.banner__left > div > p {
	margin: 0 0 32px;
}

.banner__left > form > div {
	display: flex;
	align-items: center;
}

.banner__right {
	padding: 40px 0 0 24px;
}

.banner__left > div > span > a {
	text-decoration: none;
}
.banner__left > div > span > a:hover {
	text-decoration: underline;
}
