.navbarr {
	display: flex;
	align-items: center;
	justify-content: space-between;
	box-sizing: content-box;
	margin: 0 340px;
	padding: 0 20px;
	height: 66px;
	background-color: #fff;
}

nav > div > a {
	text-decoration: none;
	color: black;
	font-weight: 600;
	font-size: 14px;
}

nav > div {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 66px;
}

nav > div:hover {
	border-bottom: 3px solid #0a46e4;
}

nav > div > a {
	padding: 0 18px;
}

.logo > img {
	width: 112px;
	height: 20px;
}

.menu__right > span {
	padding: 18px;
	font-size: 14px;
	font-weight: 500;
}

.menu__right > span:hover {
	color: #0a46e4;
}

.menu__right > button {
	font-weight: 500;
	font-size: 14px;
	background-color: #0a46e4;
	color: white;
}
